{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    
    {% if post.citation %}
      <div class="home-publication-card-container">
        <h4 class="home-publication-title">{{ post.title }}</h4>
        
        {% assign first_author = post.authors[0] %}
        {% include author.html author=first_author %}
        {% for author in post.authors offset:1 %}
          <span style="color: lightgray">&nbsp;|&nbsp;</span>
          {% include author.html author=author %}
        {% endfor %}
        <br/>
      
        {{ post.venue }} {{ post.year }}.
        
        {% if post.award %}
          <span class="award">{{ post.award }}</span>
        {% endif %}
        
        {% if post.citation %}
          <br/>Recommended citation: {{ post.citation }}
        {% endif %}
      
        {% if post.paperurl or post.slidesurl %}
          <br/>
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}">Download Paper</a>
          {% endif %}
          {% if post.paperurl and post.slidesurl %}
            &nbsp;|&nbsp;
          {% endif %}
          {% if post.slidesurl %}
            <a href="{{ post.slidesurl }}">Download Slides</a>
          {% endif %}
        {% endif %}
      </div>
      <!-- <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% elsif post.citation and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% elsif post.paperurl %}
      <p><a href=" {{ post.paperurl }} ">Download Paper</a></p>
    {% elsif post.slidesurl %}
      <p><a href="{{ post.slidesurl }}">Download Slides</a></p> -->
    {% endif %}

  </article>
</div>
