<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo title=false -%}
  <link rel="stylesheet" href="assets/css/style.css">

  <title>{{site.title.firstname}} {{site.title.lastname}}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/images/favicon/site.webmanifest">
  <link rel="stylesheet" href="assets/css/academicons.min.css">
  <link rel="stylesheet" href="assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="assets/css/brands.min.css">
  <link rel="stylesheet" href="assets/css/solid.min.css">
  <!-- <script>
    (() => {
      // const page = "{{ page.title }}" || "Home";
      const title = document.querySelector("title");
      const name = `${"{{ site.title.firstname }}"} (${"{{ site.title.nickname }}"}) ${"{{ site.title.lastname }}"}`;
      const cycle = (offset) =>
        `${name.substring(offset, name.length)} ${name.substring(0, offset)}`;

      let counter = 0;
      const animateTitle = () => {
        // title.innerHTML = `${page} | ${cycle(counter)}`;
        title.innerHTML = `${cycle(counter)}    `;
        counter = (counter + 1) % name.length;
      };

      animateTitle();
      setInterval(animateTitle, 3000);
    })();
  </script> -->
  
</head>
